.new-recipe {
    width: 35%;
    display: flex;   
}

textarea {
    width: 50%;
    height: 7rem;
    
}

.new-recipe form div {
    width: 100%;
    display: flex;
    text-align: left;
}

.new-recipe form div label {
    width: 50%;
}

.new-recipe form div input {
    width: 50%;
}

.new-recipe form {
    width: 100%;
}