.new-recipe {
    width: 20%;
    display: flex;   
    z-index: 100;
    position: fixed;
    top: 40%;
    left: 40%;
    background: blue;
}

.new-recipe-background {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.658);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

textarea {
    width: 50%;
    height: 7rem;
    
}

.new-recipe form div {
    width: 100%;
    display: flex;
    text-align: left;
}

.new-recipe form div label {
    width: 50%;
}

.new-recipe form div input {
    width: 50%;
}

.new-recipe form {
    width: 100%;
}
